*{
            
  margin-top: 2px;
}
.box{
  border: 2px solid black;
  border-radius: 10px;

  
  background-color: white;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
  border-radius: 20px;
  z-index: 4;
  backdrop-filter: blur(20px);
  border: 1px solid black;
  
  height: 500px;
  width: 400px;
  margin-top: 50px;
  margin-left: 5%;
  font-style: bold;
  font-size: large;

}
.box:hover{
  background-color: lightblue;
}
.box_items{
  margin-top: 20%;
  font-style: bold;
  font-size: large;
}
.navbar{
  background-color: purple;
  height: 60px;
  width: 100%;
  text-align: center;
  display: flex;
  font-size: large;
  align-items: center;
  align-content: center;
  align-self: center;
}
.nav-items{
  padding: 20px;
  text-align: center;
}
.login_page{
  height: 710px;
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 10%;
  border: 5px solid black;
}
.headline_login{
  font-size: 60px;
  color: lightcoral;
}
label{
  font-size: x-large;
}

button{
  border-radius: 2px;
  height: 50px;
  width: 100px;
  border-radius: 15px;
  background-color: orange
}
button:hover{
  background-color: yellow;

}
#username,#password,#vacancy{
  height: 50px;
  width: 60%;
  text-align: center;
  border-radius: 15px;
  font-size: large;
}
footer{
  background-color: black;
  color: white;
  width: 100%;
  height: 200px;
  padding: 40px;

}
.mask{
  width: 100%;
  height:100vh;
  position: relative;

}
.image{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.content{
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left: 50%;
  text-align: center;
  display: flex;
  

}

.content-login{
  position: absolute;
  transform: translate(-50%,-50%);
  top:160%;
  left: 50%;
  text-align: center;
  display: flex;
  

}

.content .btn{
  margin: 1rem 0.2rem;
}
.login{
  text-align: center;

}