.home {
    text-align: center;
}

.home_buttons {
    margin-left: 20%;
    display: flex;

}

.home_link {
    margin-left: 10%;


}

.home_btn {
    width: 300px;
    height: 60px;
    background-color: #ffffff;
    border: 2px solid white;
    font-weight: bold;
    color: orange;
    font-size: large;
    border-color: #ffffff;

}

.home_btn:hover {
    background-color: lightblue;
    opacity: 0.8;
}
.home_desc{
    display: flex;
    margin-left: 20%;
}
.home_desc1 {
    height: 500px;
    color: white;
    width: 300px;
    margin-left: 10%;

}